<h2>Projekt Restauracja</h2>
<p>
  Rezerwacja restauracji, git://github.com/llotkowski/restaurant.git
</p>
<p>
  Autorzy: K. Lotkowski (kierownik), Ł. Lotkowski, M. Juński.
</p>
<p>
  O projekcie: Chcesz zarezerwować restaurację na przyjęcie bez ruszania się z domu? Zrób to przez Internet. Aplikacja będzie umożliwiała wyszukiwanie zdefiniowanych restauracji na mapie, dostęp do danych kontaktowych oraz menu. Lokale będą mogły zdefiniować menu oraz gotowe zestawy przygotowane na różnego rodzaju uroczystości. Osoba rezerwująca lokal będzie mogła wybrać lub dopasować menu oraz zdefiniować na własny sposób układ stolików na sali. Czyli kompleksowa rezerwacja sali w jednym miejscu.
</p>
<p>
  Wykorzystane narzędzia: Google Maps i jQuery
</p>
<br/>
