<h1>Administracja</h1>
<br/>
<div style="margin-left : 40px; font-size : small">
  <ul>
    <li><a href="/users">Użytkownicy</a></li>
    <li><a href="/restaurants">Restauracje</a></li>
    <li><a href="/menus">Menu</a></li>
    <li><a href="/meals">Posiłki</a></li>
    <li><a href="/cuisines">Rodzaje kuchni</a></li>
    <li><a href="/categories">Kategorie menu</a></li>

    <li></li>
    <li>Nieskończone jeszcze</li>
    <li><a href="/books">Rezerwacje</a></li>
    <li><a href="/places">Rozmieszczenie miejsc</a></li>
  </ul>
</div>
