<h1>Administracja</h1>
<br/>
<div style="margin-left : 40px; font-size : small">
<ul>
<li><a href="/users">Użytkownicy</a></li>
<li><a href="/restaurants">Restauracje</a></li>
<li><a href="/menus">Menu</a></li>
<li><a href="/meals">Posiłki</a></li>
</ul>
</div>
