<div id="left">

  <div id="chef">
    <h2>Witamy!</h2>
    <p>Witamy w najlepszej sieci restauracji w Polsce. U nas zawsze zjesz najlepiej i najtaniej.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
<div id="right">
  <div id="booking">
    <h2>Szukaj restauracji</h2>
    <form action="/welcome/show" method="post" accept-charset="utf-8">
      <center>
        <table border="0" cellspacing="2" cellpadding="0">
          <tr><td><b>Miejscowość</b></td><td><input type="text" name="city" value="" class="text" /></td></tr>
          <tr><td><b>Ulica</b></td><td><input type="text" name="street" class="text" value="" /></td></tr>
          <tr><td class="submission" colspan="2"><input type="submit" name="action" value="Szukaj" /></td></tr>
        </table>
      </center>
    </form>
  </div>

  <% unless !@random_menu %>
    <div id="menu">
      <h2 style="margin-top: -5px;">Losowe danie</h2>
      <div style="margin: -15px 0px 0px 12px;">
        <center>
          <div style="margin-left: -15px;">


            <% if @random_menu.meal.name.length < 25 %>
              <%= @random_menu.meal.name %>
            <% else %>
              <%= @random_menu.meal.name[0 .. 25] %> ...
            <% end %>

          </div>
        </center>
        <%= link_to image_tag(@random_menu.meal.meal_photo.url(:thumb), :size => "89x67", :class => "image_border_menu"), {:controller => "restaurants", :action => "show_meal", :id => @random_menu.restaurant.id, :menu_id => @random_menu.id}, :class => "meal_name_biger" %><br />
      </div>
      <div style="margin: 5px 0px 5px -0px;">
        <%= button_to "Szczegóły", {:controller => "restaurants", :action => "show_meal", :id => @random_menu.id, :menu_id => @random_menu.id}%>
      </div>

    </div>
  <% end %>

</div>
