<div id="left">
 
  <div id="chef">
    <h2>Witamy!</h2>
    <p>Witamy w najlepszej sieci restauracji w Polsce. U nas zawsze zjesz najlepiej i najtaniej.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
<div id="right">
  <div id="booking">
    <h2>Szukaj restauracji</h2>
    <form action="/welcome/show" method="post" accept-charset="utf-8">
      <table border="0" cellspacing="2" cellpadding="0">
        <tr><th>Miejscowość</th><td><input type="text" name="city" value="" class="text" /></td></tr>
        <tr><th>Ulica</th><td><input type="text" name="street" class="text" value="" /></td></tr>
        <tr><td class="submission" colspan="2"><input type="submit" name="action" value="Szukaj" /></td></tr>
      </table>
    </form>
  </div>
  <div id="menu">
    <h2>Dziś polecamy</h2>
    <p>If you're having problems editing the template  ask for help on <a href="http://www.freewebsitetemplates.com/forum/">the forum</a>.</p>
    <form action="" method="get" accept-charset="utf-8">
      <p><input type="submit" value="Szczegóły"></p>
    </form>
  </div>
</div>
