<h1>Edycja posiłku</h1>
<br />

<%= render :partial => 'meal_form', :locals => { :button_name => "Edytuj"} %>

<%= link_to image_tag("../images/signs/show.png", :class => "icon"), @meal %> |
<%= image_tag("../images/signs/back.png", :class => "icon") %> <%= link_to 'Powrót', meals_path %>
