<h1>Dodaj posiłek</h1>
<br />

<%= render :partial => 'meal_form', :locals => { :button_name => "Dodaj"} %>

<%= image_tag("../images/signs/back.png", :class => "icon") %> <%= link_to 'Powrót', meals_path %>
