<h2 id="hspecials"><img src="../../images/restaurant/title_menus.gif" alt="Our Special Menus" /></h2>
<div id="specials">
  <div style="background-image: url(../../images/restaurant/picture_1.jpg);" class="imagebox">
    <h3><a href="http://www.freewebsitetemplates.com">Menu Name</a></h3>
    <p>Some demo text goes here. Some demo text goes here. Some demo text goes here.</p>
    <p class="readmore"><a href="http://www.freewebsitetemplates.com">... more</a></p>
  </div>
  <div style="background-image: url(../../images/restaurant/picture_2.jpg);" class="imagebox">
    <h3><a href="http://www.freewebsitetemplates.com">Menu Name</a></h3>
    <p>Some demo text goes here. Some demo text goes here. Some demo text goes here.</p>
    <p class="readmore"><a href="http://www.freewebsitetemplates.com">... more</a></p>
  </div>
  <div style="background-image: url(../../images/restaurant/picture_3.jpg);" class="imagebox">
    <h3><a href="http://www.freewebsitetemplates.com">Menu Name</a></h3>
    <p>Some demo text goes here. Some demo text goes here. Some demo text goes here.</p>
    <p class="readmore"><a href="http://www.freewebsitetemplates.com">... more</a></p>
  </div>
</div><!-- end specials -->

<%= image_tag @restaurant.photo.url(:medium) %>
