<%= render :partial => 'special_offer_form' %>

<div id="menu_body">

  <div class="body_menu">
    <center>
      <%= image_tag @restaurant.photo.url(:original), :size => "400x270", :class => "image_border_home" %>
    </center>
  </div>
</div>