<h2 id="hspecials"><img src="../../images/restaurant/title_menus.gif" alt="Kategorie" /></h2>
<div id="specials">

<%= link_to 'Dodaj pozycję menu', {:controller => "restaurants", :action => "add_menu_to_restaurant", :id => @restaurant.id} %>

</div><!-- end specials -->

<%= image_tag @restaurant.photo.url(:medium) %>
