<form method="post" action="/login/signin">
<center>
<table>
<tr>
  <td>Login:</td>
  <td><input id="login" name="login" size="15" type="text" value="" /></td>
</tr>
<tr>
  <td>Hasło:</td>
  <td><input id="password" name="password" size="15" type="password" value="" /></td>
</tr>
<tr>
  <td colspan="2" style="text-align: right"><input type="submit" value="Loguj" /></td>
</tr>
</table>
</center>
</form>
