<h2>Edycja kategorii</h2>

<%= render :partial => 'category_form', :locals => { :button_name => "Edytuj"} %>

<%= link_to image_tag("../images/signs/show.png", :title => "Szczegóły", :class => "icon"), @category %> |
<%= link_to image_tag("../images/signs/back.png", :title => "Wstecz", :class => "icon"), categories_path %> <%= link_to 'Powrót', categories_path %>

